@import "tailwindcss";

:root {
  --background: #ebf8ed;
  --foreground: #030a06;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green-accent: #3ac04c;
  --color-green-bg: #75d281;
  --color-btn-active: #113916;
  --color-error: #d64040;

  --font-fira: var(--font-fira-sans);
  --font-comfortaa: var(--font-comfortaa);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-sans), Arial, Helvetica, sans-serif;
}

img {
  display: block;
  width: 100%;

  object-position: center;
  object-fit: cover;
  background-color: #818181;
}
